<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    {% endblock %}
    </head>

<body>
    <header>
        {% block header %}
        <!--        <div class="header">
                    <span class="titleName">Films BDD</span>
                </div>!-->
        {% endblock %}
    </header>
    
    <nav>
        <ul>
        {% block sidebarLeft %}

        {% endblock %}
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>

