<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
            <div class="headerTitle">
                <span class="titleName">Films BDD</span>
            </div>
        {% endblock %}
    </header>
    <nav>
        <ul>
            <li><a href="#">link1</a></li>
            <li><a href="#">link2</a></li>
            <li><a href="#">link3</a></li>
        </ul>
        {% block sidebarLeft %}

        {% endblock %}
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
