<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
        <link rel="stylesheet" href="{{ asset('../node_modules/hover.css/css/hover.css') }}">
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
            <div class="headerTitle">
                <span class="titleName">Films BDD</span>
            </div>
            <div class="navigation">
                <a class="link-film" href="#">Films</a>
                <a class="link-favoris" href="#">Favoris</a>
                <a class="link-connexion" href="#">Connexion</a>
                <a class="link-aVoir" href="#">A voir</a>
            </div>
        {% endblock %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
